<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://download1588.mediafire.com/sbxt12fu0pfgWzfQHc5urZjGsFwsXyVnwiJ4wa1mVnmNb1VXKVScOjNb0gnTOnaOOAvHvmYxoJ0QnR0rQ9UaeBzIKbLv1img3Do17yTFqAdmi_2RNRdkPdvBEcgEpY-pt1n5onsuqETucp6rJUqFXfRRzyFkJMBnxWak5FvwDRzL5A/m08hruhlrguvf8d/resign_20250225165434563.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.yourcompany.yourapp</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Appleware</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
